.pre-size{
    box-shadow: 0 0 4px whitesmoke;
  /* border-radius: 50%; */
  color: black;
  background-color: white;
  border: 1px solid lightgray;
  height: 50px;
  width: 100px;
  margin: -15px;
  }
  .post-size{
    /* border-radius: 50%; */
    background: whitesmoke;
    border: 1px solid black;
    box-shadow: 0 0 3px white;
    margin: -15px;
    color: black;
    text-transform: capitalize;
    height: 50px;
  width: 50px;
  }
  ul#horizontal-list {
    min-width: 696px;
    list-style: none;
    padding-top: 20px;
    }
    ul#horizontal-list li {
      display: inline;
    }
    .modal-xl{
      width: 1200px;
    }
  
  .pre-color{
    box-shadow: 4px 4px whitesmoke;
  /* border-radius: 50%; */
  color: black;
  background-color: white;
  border: 1px solid white;
  height: 50px;
  width: 100px;
  margin: -15px;
  }
  .color-box{
    /* left: -48px; */
  /* top: 16px; */
  font-size: 12px;
  overflow: hidden;
  top: -5px;
  color: black;
  /* border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black; */
  position: relative;
  background: white;
  padding-left: 11px;
  padding-right: 10px;}
  .post-color{
    /* border-radius: 50%; */
    background: lightseagreen;
    box-shadow: 0 0 3px white;
    margin: -15px;
    color: white;
    height: 50px;
  width: 50px;
  }
    
    img {
      max-width: 100%; 
      width: 100%;
  
    }
  .img-1{
       display: inline-block;
      max-height: 330px;
      text-align: center;
      max-width: 416px;
      min-width: 90%;
      min-height: 90%;
      object-fit: contain;
      margin: auto;
      vertical-align: middle;
      position: inherit;
  }
  .show-image{
    height: 420px;
    vertical-align: middle!important;
    width: 100%;
    
  }
  .show-image3{
    height: 350px;
  }
  .show-image1{
    height: -webkit-fill-available;
  
    width: inherit;
    /* position: relative; */
    /* justify-content: center; */
      margin: inherit;
    
  }
    /* .preview {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      height: 500px;
      display: flex; 
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } */
           
      @media screen and (max-width: 996px) {
        .preview {
          margin-bottom: 20px; } }
    
    /* .preview-pic {
      height: 410;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; } */
    
    .preview-thumbnail.nav-tabs {
      border: none;
      display: inline;
      /* margin-top: 15px; */
     }
      .preview-thumbnail.nav-tabs li {
        width: 18%;
        margin-right: 2.5%;
      display: inherit }
        .preview-thumbnail.nav-tabs li img {
          max-width: 100%;
          display: block;
          margin: -10px;
          position: relative;
          left: 17px;
         }
        .preview-thumbnail.nav-tabs li a {
          padding: 0;
          margin: 0; }
        .preview-thumbnail.nav-tabs li:last-of-type {
          margin-right: 0; }
    
    /* .tab-content {
      vertical-align: middle!important;
      overflow: hidden; 
    } */
      .tab-content img {
        /* width: 100%; */
        -webkit-animation-name: opacity;
                animation-name: opacity;
        -webkit-animation-duration: .3s;
                animation-duration: .3s; }
    
    /* .card {
      margin-top: 50px;
      background: rgba(238, 238, 238, 0.068);
      padding: 3em;
      line-height: 1.5em; } */
      .card-header{
        background: white;
      }
    .mat-raised-button{
      outline: none!important;
      border-radius: 1px !important;
    }
    .user-review-box{
      max-height: 300px;
      overflow-y: auto;
      overflow-x: hidden;
    }
  
    .user-review-box::-webkit-scrollbar {
      width: .45em;
  }
   
  .user-review-box::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  .user-review-box::-webkit-scrollbar-thumb {
    background-color: rgb(169, 169, 169);
    outline: 1px solid rgb(144, 112, 114);
  }
    @media screen and (min-width: 997px) {
      .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; } }
    
    .details {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    
    .colors {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
    
    .product-title1,  .sizes, .colors {
      text-transform: UPPERCASE;
       }
       .product-title,  .sizes, .colors {
        text-transform: UPPERCASE;
         }
    .checked, .price span {
      color: #ff9f1a; 
    }
    .zoom {
      padding: 50px;
    
      transition: transform .2s; /* Animation */
      width: 200px;
      height: 200px;
      margin: 0 auto;
    }
    
    .zoom:hover {
      transform: scale(1.5); /* (150% zoom)*/
    }
    .product-title1{
      margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1rem;
    font-family: sans-serif!important;
    }
    .rating, .product-description, .price, .vote, .sizes {
      margin-bottom: 15px; 
      font-weight: 500;
      font-size: medium;
    }
    .description{
      font-family: sans-serif!important;
      font-weight: 600;
      font-size: 1rem;
      color: black;
    }
    .desc{
      margin-top: 0;
    margin-bottom: 1rem;
    font-family: sans-serif!important;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: black;
    }
    ul, ol {
      margin: 0;
      padding: 0;
      list-style: none;
      width: 500px;
  }
    .spec2{
      
      margin-bottom: 1rem;
      font-family: sans-serif!important;
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      color: black;
    }
    .rating{
      margin-bottom: .5rem;
      font-weight: 500;
      line-height: 1.2;
    }
    .spec1{
      margin-top: 0;
      margin-bottom: 1rem;
      font-family: sans-serif!important;
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
    }
    .spec{
      font-family: sans-serif!important;
      font-weight: 600;
      font-size: 1rem;
    }
    .product-title1 {
      margin-top: -10px; }
      .product-title {
        margin-top: 0px;
        font-weight: 600;
        font-size: 1.25rem; }
    .size {
      margin-right: 10px; }
      .size:first-of-type {
        margin-left: 40px; }
    
    .color {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      height: 2em;
      width: 2em;
      border-radius: 2px; }
      .color:first-of-type {
        margin-left: 20px; }
    
    .add-to-cart, .like {
      background: #ff9f1a;
      padding: 1.2em 1.5em;
      border: none;
      text-transform: UPPERCASE;
      font-weight: bold;
      color: #fff;
      -webkit-transition: background .3s ease;
              transition: background .3s ease; }
      .add-to-cart:hover, .like:hover {
        background: #b36800;
        color: #fff; }
    
    .not-available {
      text-align: center;
      line-height: 2em; }
      .not-available:before {
        font-family: fontawesome;
        content: "\f00d";
        color: #fff; }
    
    .orange {
      background: #ff9f1a; }
    
    .green {
      background: #85ad00; }
    
    .blue {
      background: #0076ad; }
    
    .tooltip-inner {
      padding: 1.3em; }
    
    @-webkit-keyframes opacity {
      0% {
        opacity: 0;
        -webkit-transform: scale(3);
                transform: scale(3); }
      100% {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1); } }
    
    @keyframes opacity {
      0% {
        opacity: 0;
        -webkit-transform: scale(3);
                transform: scale(3); }
      100% {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1); } }
    
    /*# sourceMappingURL=style.css.map */
  
  
  
  .section-header {
      margin-bottom: 60px;
      text-align: center;
  }
  .section-header i {
      color: #ff007d;
      font-size: 50px;
      display: inline-block;
      margin-bottom: 10px;
  }
  .section-header h2 {
      font-weight: bold;
      font-size: 34px;
      margin: 0;
  }
  .section-header p {
      max-width: 500px;
      margin: 20px auto 0;
  }
  .single-publication {
    max-height: 299px;
    min-height: 299px;
      background: white;
      border: 1px solid #f2eee2;
      margin-bottom: 30px;
      position: relative;
      overflow: hidden;
  }
  
  .single-publication figure {
    position: relative;
    vertical-align: middle!important;
    width: 100%;
    height: 180px!important;
    padding: 11px;
    margin: none;
    text-align: center;
  }
  
  
  .single-publication figure > a {
      /* background-color: #fafafa; */
      display: block;
  }
  .single-publication figure ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      position: absolute;
      right: -50px;
      top: 20px;
      transition: .6s;
      -webkit-transition: .6s;
  }
  .single-publication:hover figure ul {
      right: 15px;
  }
  .single-publication figure ul li a {
      display: inline-block;
      width: 35px;
      height: 35px;
      text-align: center;
      font-size: 15px;
      /* background: #ff007d; */
      margin-bottom: 7px;
      border-radius: 50%;
      line-height: 35px;
      color: #fff;
  }
  .single-publication figure ul li a:hover {
      color: #fff;
      /* background: #e50663; */
  }
  .single-publication .publication-content {
      text-align: center;
      padding: 10px;
  }
  .single-publication .publication-content .category {
      display: inline-block;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      color: #ff007d;
      font-weight: 600;
  }
  .single-publication .publication-content h3 {
      font-weight: 600;
      margin: 8px 0 10px;
      font-size: 20px;
  }
  .single-publication .publication-content h3 a {
      color: #1f2d30;
      font-size: 14px;
  }
  .single-publication .publication-content h3 a:hover {
      color: #ff007d;
  }
  .single-publication .publication-content ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      margin-bottom: 15px;
  }
  .single-publication .publication-content ul li {
      display: inline-block;
      font-size: 14px;
      color: #fec42d;
  }
  .single-publication .publication-content .price {
      font-size: 24px;
      color: #ff007d;
  }
  .single-publication .publication-content .price span {
      color: #6f6f6f;
      text-decoration: line-through;
      padding-left: 5px;
      font-weight: 300;
  }
  
    
  
  
  
  .navbar .dropdown-menu div[class*="col"] {
    margin-bottom:1rem;
  }
  
  .navbar{
    height: 50px;
    border:none;
    color: black;
    /* background-image: url('/assets/img/parallax_01.jpg'); */
    background:#f7f7f7;
    font-size: 14px;
    font-family: sans-serif;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  .dropdown-menu {
      /* margin-top: 1%; */
   border:none;
   width: 96%!important; margin-left: 2%; margin-right: 2%; border: none!important;
   background-color:white!important;
   color: black!important;
   box-shadow: 0 0 .8px grey;
  }
  
  @media screen and (min-width: 992px) {
   
  .navbar {
   padding-top:0px;
   padding-bottom:0px;
   /* border-bottom: 1px solid grey; */
  }
  
  .navbar .nav-item {
   padding:.5rem .5rem;
   margin:0 .25rem;
  }
  .nav-link{
     color: black!important;
  }
  .navbar .dropdown {position:static;}
  
  .navbar .dropdown-menu {
   width:100%;
   left:0;
   right:0;
   top:45px;
   
   display:block;
   visibility: hidden;
   opacity: 0;
   transition: visibility 0s, opacity 0.3s linear;
   
  }
   
  
  
   
  .navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
   display:block;
   visibility: visible;
   opacity: 1;
   transition: visibility 0s, opacity 0.3s linear;
  }
   
   .navbar .dropdown-menu {
     background-color: #fff;
   }
  
  }
   
  
  .sub_category-1{
    font-size: 14px!important;
    cursor: pointer;
    text-transform: capitalize;
  }
  .sub_category-1:hover{
    color: blue;
  }
  .navbar .dropdown-menu div[class*="col"] {
    margin-bottom:1rem;
  }
   
  .navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
   display:block;
   visibility: visible;
   opacity: 1;
   transition: visibility 0s, opacity 0.3s linear;
  }
   
   .navbar .dropdown-menu {
     background-color: #fff;
   }
  
  
  
  
  .for-you{
    font-weight: 500;
    font-size: 14px;
  }
  .similar-heading h5{
    /* font-family: 'Kaushan Script', cursive; */
    /* font-family: 'Raleway', sans-serif; */
    font-weight: 600;
    padding-top: 5px;
    /* padding: 50px; */
    font-size: 24px;
   color:#4E50B3;
   font-family: sans-serif;
  }
  
  
  .mobile-product-box-height{
    text-transform: capitalize;
    height: 390px;
    /* background: #f7f7f7; */
  }
  .mobile-image-box-height{
    height: 250px;
    padding: 10px;
    background: white;
  }
  .mobile-view-image{ 
     object-fit: contain;
     min-width: 90%;
     min-height: 100%;
     max-width: 100%;
     max-height: 200px;
  }
  .mobile-product-heading h6{
  text-transform: capitalize!important;
  font-size: 14px;
  }
  .mobile-seller-price{
    position: relative;
    top: -9px;
  }
  .mobile-product-price{
        font-weight: 400;
        font-size: 13px;
    /* text-align: center; */
  }
  .mobile-review-star ul{
    display: inline;
    font-size: 12px;
   
    color: orangered;
  }
  .mobile-review-star ul li{
    display: inline-flex;
    float: left;
  }
  .mobile-review-star ul li a{
    color: orangered;
  }
  .mobile-heading{
    background: -webkit-linear-gradient(45deg,#6c0753, #e58247, #9c1c8b, #d4474d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    position: relative;
    top: 7px;
    left: 21px;
  }
  
   .param {
      margin-bottom: 7px;
      line-height: 1.4;
  }
  .param-inline {
      display: inline-block;
  }
  .param {
      margin: 0;
      margin-right: 7px;
      
  }
  .param-inline {
      vertical-align: baseline;
      display: inline-block;
  }
  
  .param {
      margin: 0;
      vertical-align: baseline;
  } 
  
  .progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
   
    transition: width .6s ease;
  }
  .one, .two, .three{
    position:absolute;
  margin-top:-8px;
  z-index:1;
  height:20px;
  width:20px;
  border-radius:50px;
  
  }
  .one{
  left:0%;
  }
  /* .two{
    left:90%;
  } */
  .three{
    left:95%;
  }
  
  .progress{
    height:4px;
    
  }
  .checked {
    color: gold; }
  
  /* .img-zoom-result {
    border: 1px solid #d4d4d4;
    top: 0;
    z-index: 11;
    position: absolute;
    object-fit: contain;
    width: auto;
    height: 100%;
    background-color: white;
    display: none;
    width: 500px;
    height: 420px;
    padding: 50px;
  left: 100%;
  background-size: 300% 300%!important;
  
  background-position: 1890px 708.129px;
  
  }             */
  
   .category-click{
     color: #6f6f6f;
   }
   .category-click12:hover{
     /* cursor: not-allowed; */
     color: black;
     border: none;
   }
   .category-click12:last-child{
  
    /* cursor: not-allowed; */
    color: black;
  }
   .category-click:last-child{
     color:  black;
     font-weight: 500!important;
   }
   /* .category-click:hover{
     color: blue;
   } */
  
  /* .img-zoom-result{
    display: none;
    left: 451.797px;
      width: 814.203px;
      height: 232px;
    position: absolute; 
      top: 0;
      left: 0;
      overflow: hidden;
       background: #fff; 
      border-radius: 4px;
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      border: 1px solid #e0e0e0;
      box-shadow: 0 4px 20px 2px rgba(0,0,0,.2);
      pointer-events: none;
      transition: opacity .1s cubic-bezier(0,0,.3,1) .1s,-webkit-transform .1s cubic-bezier(0,0,.3,1);
      transition: transform .1s cubic-bezier(0,0,.3,1),opacity .1s cubic-bezier(0,0,.3,1) .1s;
      transition: transform .1s cubic-bezier(0,0,.3,1),opacity .1s cubic-bezier(0,0,.3,1) .1s,-webkit-transform .1s cubic-bezier(0,0,.3,1);
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 0;
      z-index: 28;
  } */
  
  
  /* .tab-pane{
    justify-content: center;
    position: relative;
  } */
  
  /* .tab-pane:hover .img-zoom-result{
    display: inline-block;
    vertical-align: middle; 
  } */
  .share-property{
    color: gray;
    text-decoration: none;
  }
  .share-property:hover{
    color: #0076ad;
    text-decoration: underline;
  }
  .lightbox {
    position: relative;
    display: block;
    top: 50px;
    width: 1100px;
    /* background: aquamarine!important; */
    height: 800px;
    max-width: 94vw;
    max-height: 90vh;
    border-radius: 4px;
    overflow: hidden;
    /* box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12); */
  }
  .updateCart3minus{
    color: #fff;
    /* height: 35px; */
    border-radius: 21px;
    width: 38px;
    font-size: 19px;
    background: #4E50B3!important;
    border-color:#4E50B3!important;
  }
  @media only screen and (max-width:768px){
    .image-size{
      min-width: 320px;
    }
  }
  
  .order-button{
    color: white;
    background: #4E50B3!important;
  }
  .add-to-wishlist-on-image{
    border-radius: 15px;
    position: absolute;
    right: 33px;
    font-size: 20px;
    color: grey;
    /* border: 1px solid; */
    text-align: center;
    /* background: white; */
    /* box-shadow: 0 0 5px lightgrey; */
    width: 30px;
    height: 30px;
    z-index: 1;
    cursor: pointer;
  }
  
  /*start by priyange for similar product*/
  
  .checked {
    color: #4E50B3!important; }
    .star-mobile{
        font-size: 10px;
    }
   .unchecked{
      color: #ea895694;
   }
  
    .button-minus{
      color: #fff;
      width: 27px;
      /* width: 27px; */
      line-height: 1;
      height: 27px;
      border-radius: 20px;
      font-size: 18px;
      background-color: #117a8b;
      border-color: #10707f;
    }
    ._2zH4zg{
      width: 45px;
      height: 27px;
    }
    .single-publication:hover .show-status{
      transition: 1s;
      display: block;
  }
  .show-status{
      display: none;
      background: #f5f5f5ba;
      /* padding-top: 0px; */
      padding: 5px;
      border-radius: 5px;
      position: absolute;
      color: red;
      font-size: 16px;
      font-weight: 600;
      top: 3px;
      left: 5px;
  }
  .Quantity-box{
      background: white;
      position: absolute;
      visibility: hidden;
      bottom: 3px;
      right: 0;
      left: 0;
     
  }
  .single-publication:hover .Quantity-box{
      visibility: visible;
      bottom:5px;
      transition: bottom 0.8s ease;
      opacity: 1;
  }
  
  .single-publication .add-to-cart2 {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      /* background: #e0e2f89d; */
      opacity: 0.5;
      visibility: hidden;
      text-align: center;
      -webkit-transform: scale(.7);
      transform: scale(.7);
      /* height: 70px; */
      -moz-transition: .4s;
      -webkit-transition: .4s;
      transition: .2s;
  }
  .single-publication:hover .add-to-cart2 {
      visibility: visible;
      
      opacity: 1;
  }
  
  
  .single-publication .add-to-cart2 .default-btn {
      padding: 4px 10px;
      font-size: 12px;
      background: whitesmoke;
  }
  
  .pt-100 {
      padding-top: 100px;
  }
  .pb-70 {
      padding-bottom: 70px;
  }
  .section-header {
      margin-bottom: 60px;
      text-align: center;
  }
  .section-header i {
      color: #ff007d;
      font-size: 50px;
      display: inline-block;
      margin-bottom: 10px;
  }
  .section-header h2 {
      font-weight: bold;
      font-size: 34px;
      margin: 0;
  }
  .section-header p {
      max-width: 500px;
      margin: 20px auto 0;
  }
  .single-publication {
      height: 300px;
      /* min-height: 100%; */
      background: white;
      border: .25px solid #f2eee2b0;
      margin-bottom: 10px;
      position: relative;
      overflow: hidden;
  
  }
  .single-publication figure {
      position: relative;
      vertical-align: middle!important;
      width: 100%;
      height: 172px;
      padding: 11px;
      margin: none;
      text-align: center;
  }
  .single-publication figure > a {
      /* background-color: #fafafa; */
      display: block;
  }
  .single-publication figure ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      position: absolute;
      right: -50px;
      top: 20px;
      transition: .6s;
      -webkit-transition: .6s;
  }
  .single-publication:hover figure ul {
      right: 15px;
  }
  .single-publication figure ul li a {
      display: inline-block;
      /* width: 35px; */
      /* height: 35px; */
      text-align: center;
      /* border: 1px solid white; */
      font-size: 15px;
      /* background: black; */
      /* background: -webkit-linear-gradient(45deg,#6c0753, #e58247, #9c1c8b, #d4474d); */
      margin-bottom: 7px;
      /* border-radius: 50%; */
      line-height: 35px;
      color: grey;
  }
  .single-publication figure ul li a:hover {
      color: #e50663;
      /* background: #e50663; */
  }
  .single-publication .publication-content {
      text-align: center;
      padding: 0px;
      margin: -7px;
  }
  .single-publication .publication-content .category {
      display: inline-block;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      color: #ff007d;
      font-weight: 600;
  }
  .single-publication:hover .show-status{
      transition: 1s;
      display: block;
  }
  .show-status{
      display: none;
      background: #f5f5f5ba;
      /* padding-top: 0px; */
      padding: 5px;
      border-radius: 5px;
      position: absolute;
      color: red;
      font-size: 16px;
      font-weight: 600;
      top: 3px;
      left: 5px;
  }
  .single-publication .publication-content h6 {
      font-weight: 600;
      padding-left: 7px;
      padding-right: 7px;
      text-transform: capitalize!important;
      /* margin: 8px 0 10px; */
      font-size: 14px;
  }
  .single-publication .publication-content h6 a {
      color: #1f2d30;
      font-weight: 600;
      padding: 3px;
      /* font-size: 14px; */
  }
  .single-publication .publication-content h3 a:hover {
      color: #ff007d;
  }
  .single-publication .publication-content ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      margin-bottom: 15px;
  }
  .single-publication .publication-content ul li {
      display: inline-block;
      font-size: 14px;
      color: #fec42d;
  }
  .single-publication .publication-content .price {
      font-size: 18px;
      color: #ff007d;
  }
  .single-publication .publication-content .price span {
      color: #6f6f6f;
      text-decoration: line-through;
      padding-left: 5px;
      font-weight: 300;
  }
  .single-publication .add-to-cart {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      /* background: #e0e2f89d; */
      opacity: 0.5;
      visibility: hidden;
      text-align: center;
      -webkit-transform: scale(.7);
      transform: scale(.7);
      height: 70px;
      -moz-transition: .4s;
      -webkit-transition: .4s;
      transition: .2s;
  }
  .single-publication:hover .add-to-cart2 {
      visibility: visible;
      transform: scale(1);
      -webkit-transform: scale(1);
      opacity: 1;
  }
  
  .single-publication .category {
      margin: 0;
  }
  .single-publication .add-to-cart .default-btn {
      padding: 4px 10px;
      font-size: 20px;
      background: whitesmoke;
  }
  .default-btn {
      /* background: -webkit-linear-gradient(45deg,#6c0753, #e58247, #9c1c8b, #d4474d); */
      color: white!important;
     border-radius: 10px;
      display: inline-block;
     border: .75px solid #4E50B3!important;
      text-transform: uppercase;
      font-weight: 500;
      background: #4E50B3!important;
      /* font-family: 'Open Sans', sans-serif; */
  }
  a:hover {
      color: #fff;
      text-decoration: none;
  }
  /*end similar product t*/
  .glyphicon { margin-right:5px;}
  .rating .glyphicon {font-size: 22px;}
  .rating-num { margin-top:0px;font-size: 54px; }
  .progress { margin-bottom: 5px;}
  .progress-bar { text-align: left; }
  .rating-desc .col-md-3 {padding-right: 0px; }
  .sr-only { margin-left: 5px;overflow: visible;clip: auto; }
  
  ::ng-deep .mat-progress-bar-fill::after:nth-child(even) {
    background-color: #d4474d;
  }
  ::ng-deep .mat-progress-bar-fill:nth-child(odd) {
    background-color: blue;
  }
  
  ::ng-deep .mat-progress-bar-buffer {
    background: #E4E8EB;
  }
  
  ::ng-deep .mat-progress-bar {
    border-radius: 2px;
  }
  .rating-descre{
    color: #4E50B3!important;
  }
  .show-status{
    display: block;
    background: #f5f5f5ba;
    /* padding-top: 0px; */
    height: 100%;
    width: 94%;
    padding: none!important;
    border-radius: 5px;
    position: absolute;
    color: red; 
    font-size: 24px;
    font-weight: 600;
    top: 1px;
    left: 15px;
  }
  .show-status span{
    position: relative;
    top: 40%;
    left: 35%;
  }


  // height set 
  #pic-1 {
    max-height: 470px; min-height: unset; height: -webkit-fill-available; 
    
  
  }

  // model issue
  .modal {
    padding-right: 0px !important;
}
.modal-dialog{
  padding-right: 0px !important;
}