
.img-circle{
  height: 150px;
}

.card-box-mover:hover{
  box-shadow: 2px 2px lightgrey;
  box-shadow: -2px -2px lightgrey;
  transition: 1s;

}
.card-button{
  background: #fff;
  color: black;
  border: 2px solid black;
}
.example-full-width{
  width: 60%;
}
.nav-link{
  color:black;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color:black;
  /* color: rgb(43, 42, 42); */
  background-color:black;
}
.card{
  
  box-shadow:0 8px 16px 0 rgb(71, 70, 70);
  
  /* background: transparent; */
}
.card:hover{
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.699);
}
.main-breadcrumb{
  background: #fff;
}
.breadcrumb{
  background: #fff;
}
.card{
  background: #fff;
}