<!-- FOOTER -->
<footer id="footer" class="border-top">
  <!-- top footer -->
  <!-- <div class="section" > -->
    <!-- container -->
    <div class="container d-md-block d-lg-block d-none d-sm-none"  >
      <!-- row -->
      <div class="row">
       

        <div class="col-md-3 col-xs-6 mt-1">
          <div class="footer">
            <h3 class="footer-title m-0">About<span>us</span></h3>
            <img src="assets/img/logo1.png" height="120" class="mt-0"/>
          </div>
        </div>
        <div class="col-md-3 col-xs-6 mt-1">
          <div class="footer">
            <h3 class="footer-title m-0">Catego<span>ries</span></h3>
            <ul class="footer-links mt-1" >
             <!-- <li *ngFor="let category of categories2" > <a href="javascript:void(0);" class="menu-link menu-bar-link" aria-haspopup="true" style="color: black;" (click)="navigateCategory(category.name, category.category_no);">{{
                category.name
              }} 
                  </a></li> -->
             <li><a href="#">Toys collection</a></li>
              <li><a href="#">Baby toys</a></li>
              <li><a href="#">Art & Craft</a></li>
              <li><a href="#">Remote Controller</a></li>
            </ul>
          </div>
        </div>

        
     

        <div class="col-md-3 col-xs-6 mt-1">
          <div class="footer">
            <h3 class="footer-title m-0">Serv<span>ice</span></h3>
            <ul class="footer-links mt-1">
              <li><a routerLink="/login">My Account</a></li>
              <li><a routerLink="/new-cart">View Cart</a></li>
              <li><a routerLink="/wishlist">Wishlist</a></li>
              <!-- <li><a href="#">Track My Order</a></li> -->
              <li><a href="#">Help</a></li>
              
            </ul>
          </div>
        </div>



        <div class="col-md-3 col-xs-6 mt-1" >
          <div class="footer">
            <h3 class="footer-title m-0">Get <span>In</span></h3>
           
            <ul class="footer-links mt-1">
              <li><a href="#"><i class="fas fa-info"></i>9Toys E-retails Private Limited</a></li>
              
              <li><a href="#"><p class="m-0"> <span><i class="fa fa-map-marker"></i> </span>107, 9930Spaces, 3 Mangal Nagar, </p>
              <p class="m-0 pl-4">&nbsp; Indore, M.P., India, 452014.</p> </a></li>
              <!-- <li><a href="#"><i class="fa fa-phone"></i>{{compd?.contact_no}}</a></li> -->
              <li><a href="#"><i class="fa fa-phone"></i>+91- 9111139930</a></li>
              <li><a href="#"><i class="fa fa-envelope-o"></i>info@9toys.in</a></li>
            </ul>
           
          </div>
        </div>



      </div>


      <div class="row border-top mb-0 pb-2 mt-1">
      <div class="col-md-6 text-left pt-3">
          <p>Powerd by Ecomtrails</p>
        </div>
        <div class="col-md-6 text-right">
          

          <div class="footer-social-icon pt-2">
            <a href=""><i class="fab fa-facebook-f facebook-bg"></i></a>
            <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
            <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
        </div>
        
        </div>
       
      </div>
      <!-- /row -->
    </div>
 
</footer>
<!-- /FOOTER -->
