
<mg-header ></mg-header>
<!-- <div id="demo" class="carousel slide " data-ride="carousel" *ngIf="banner" style="top: 60px;">
  

  <div class="carousel-inner">
    <div  *ngIf="bannerdata.value.banner_image_a_group && bannerdata.value.banner_image_a_group!=''" class="carousel-item active cursor-pointer" (click)="navigation(bannerdata.value.banner_image_a_group,bannerdata.value.banner_image_a_group_type,bannerdata.value.banner_image_a_group_id)">
      <img src="{{ bannerdata.value.banner_image_a }}" />
    </div>
     <div class="carousel-item" *ngIf="!bannerdata.value.banner_image_a_group || bannerdata.value.banner_image_a_group==''" class="carousel-item active">
      <img src="{{ bannerdata.value.banner_image_a }}" />
    </div>
    <div class="carousel-item" *ngIf="bannerdata.value.banner_image_b_group && bannerdata.value.banner_image_b_group!=''" class="carousel-item cursor-pointer" (click)="navigation(bannerdata.value.banner_image_b_group,bannerdata.value.banner_image_b_group_type,bannerdata.value.banner_image_b_group_id)">
      <img src="{{ bannerdata.value.banner_image_b }}" />
    </div>
    <div class="carousel-item" *ngIf="!bannerdata.value.banner_image_b_group || bannerdata.value.banner_image_b_group==''" class="carousel-item">
      <img src="{{ bannerdata.value.banner_image_c }}" />
    </div>

    <div class="carousel-item" *ngIf="bannerdata.value.banner_image_c_group && bannerdata.value.banner_image_c_group!=''" class="carousel-item cursor-pointer" (click)="navigation(bannerdata.value.banner_image_c_group,bannerdata.value.banner_image_c_group_type,bannerdata.value.banner_image_c_group_id)">
      <img src="{{ bannerdata.value.banner_image_b }}" />
    </div>
    <div class="carousel-item" *ngIf="!bannerdata.value.banner_image_c_group || bannerdata.value.banner_image_c_group==''" class="carousel-item">
      <img src="{{ bannerdata.value.banner_image_c }}" />
    </div>
  </div>

  <a class="carousel-control-prev ml-1" style="  border-top-right-radius: 120px;
  border-bottom-right-radius: 120px;" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"><i class="fas fa-chevron-left"></i></span>
  </a>
  <a class="carousel-control-next mr-1" style="    border-top-left-radius: 120px;
  border-bottom-left-radius: 120px;" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"><i class="fas fa-chevron-right"></i></span>
  </a>
</div> -->
<div id="demo" class="carousel slide main-slider" data-ride="carousel" *ngIf="banner" style="top: 60px;">
  <div class="carousel-inner">
    <div *ngIf="banner_group_a==0 || bannerdata.value.banner_image_a_group==''" class="carousel-item active">
      <img src="{{ bannerdata.value.banner_image_a }}" />
    </div>
    <div *ngIf="banner_group_a==1 && bannerdata.value.banner_image_a_group!='' && banner_group_linka==0" class="carousel-item active cursor-pointer" (click)="navigation(bannerdata.value.banner_image_a_group,bannerdata.value.banner_image_a_group_type,bannerdata.value.banner_image_a_group_id)">
      <img  src="{{ bannerdata.value.banner_image_a }}" />
    </div>
  
    <a *ngIf="banner_group_a==1 && bannerdata.value.banner_image_a_group!='' && banner_group_linka==1" class="carousel-item active cursor-pointer" target="_blank"  href="{{bannerdata.value.banner_image_a_group}}"
    >
    <img src="{{bannerdata.value.banner_image_a}}" />
  </a>
  

    <div *ngIf="banner_group_b==0 || bannerdata.value.banner_image_b_group==''" class="carousel-item">
      <img src="{{ bannerdata.value.banner_image_b }}" />
    </div>
    <div *ngIf="banner_group_b==1 && bannerdata.value.banner_image_b_group!=''  && banner_group_linkb==0"  class="carousel-item cursor-pointer" (click)="navigation(bannerdata.value.banner_image_b_group,bannerdata.value.banner_image_b_group_type,bannerdata.value.banner_image_b_group_id)">
      <img  src="{{ bannerdata.value.banner_image_b }}" />
    </div>
  
    <a *ngIf="banner_group_b==1 && bannerdata.value.banner_image_b_group!='' && banner_group_linkb==1" class="carousel-item active cursor-pointer" target="_blank"  href="{{bannerdata.value.banner_image_b_group}}"
    >
    <img src="{{bannerdata.value.banner_image_b}}" />
  </a>

    <div class="carousel-item" *ngIf="banner_group_c==0 || bannerdata.value.banner_image_c_group==''" class="carousel-item">
    <img src="{{ bannerdata.value.banner_image_c }}" />
  </div>
    <div  *ngIf="banner_group_c==1 && bannerdata.value.banner_image_c_group!='' && banner_group_linkc==0" class="carousel-item cursor-pointer" (click)="navigation(bannerdata.value.banner_image_c_group,bannerdata.value.banner_image_c_group_type,bannerdata.value.banner_image_c_group_id)">
    <img src="{{ bannerdata.value.banner_image_c }}" />
  </div>



<a *ngIf="banner_group_c==1 && bannerdata.value.banner_image_c_group!='' && banner_group_linkc==1" class="carousel-item active cursor-pointer" target="_blank"  href="{{bannerdata.value.banner_image_c_group}}"
    >
    <img src="{{bannerdata.value.banner_image_c}}" />
  </a>    

  <!-- start for 4 and 5 -->
<!-- start for 4 -->
<!-- <div class="carousel-item" *ngIf="banner_group_d==0 || bannerdata.value.banner_image_d_group==''" class="carousel-item">
    <img src="{{ bannerdata.value.banner_image_d }}" />
  </div>
    <div  *ngIf="banner_group_d==1 && bannerdata.value.banner_image_d_group!='' && banner_group_linkd==0" class="carousel-item cursor-pointer" (click)="navigation(bannerdata.value.banner_image_d_group,bannerdata.value.banner_image_d_group_type,bannerdata.value.banner_image_d_group_id)">
    <img src="{{ bannerdata.value.banner_image_d }}" />
  </div>



<a *ngIf="banner_group_d==1 && bannerdata.value.banner_image_d_group!='' && banner_group_linkd==1" class="carousel-item active cursor-pointer" target="_blank"  href="{{bannerdata.value.banner_image_d_group}}"
    >
    <img src="{{bannerdata.value.banner_image_d}}" />
  </a>   -->
<!-- end for 4 -->
<!-- start for 5 -->
<!-- <div class="carousel-item" *ngIf="banner_group_e==0 || bannerdata.value.banner_image_e_group==''" class="carousel-item">
    <img src="{{ bannerdata.value.banner_image_e }}" />
  </div>
    <div  *ngIf="banner_group_e==1 && bannerdata.value.banner_image_e_group!='' && banner_group_linke==0" class="carousel-item cursor-pointer" (click)="navigation(bannerdata.value.banner_image_e_group,bannerdata.value.banner_image_e_group_type,bannerdata.value.banner_image_e_group_id)">
    <img src="{{ bannerdata.value.banner_image_e }}" />
  </div>



<a *ngIf="banner_group_e==1 && bannerdata.value.banner_image_e_group!='' && banner_group_linke==1" class="carousel-item active cursor-pointer" target="_blank"  href="{{bannerdata.value.banner_image_e_group}}"
    >
    <img src="{{bannerdata.value.banner_image_e}}" />
  </a>   -->
<!-- end for 5 -->
  <!-- end for 4 and 5 -->
  
  </div>

  <a class="carousel-control-prev ml-1" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"><i class="fas fa-chevron-left"></i></span>
  </a>
  <a class="carousel-control-next mr-1" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"><i class="fas fa-chevron-right"></i></span>
  </a>
</div>

<!-- new card by juned -->
<div class="section" >
  <!-- container -->
  <div class="container-fluid d-none d-md-block d-lg-block d-xl-block mt-5 " style="padding-top: 10px;">
    <!-- row -->

    <div class="col-md-12">
      <div class="section-title">
        <h3 class="title2" >Featured Products</h3>
      </div>
    </div>
   
    <div  class="row justify-content-center" >
      <div class="card" >
        <img src="https://www.toycart.com/media/billboard/image/s/3/s3_2.jpg" >
        <div class="card-content">
          <a href="#">
            <p class="card-category">Toys Collection<i class="fas fa-chevron-right fa-sm"></i></p>
          </a>
        </div>
      </div>
      
      <div class="card">
        <img src="https://www.toycart.com/media/billboard/image/s/1/s1.jpg" >
        <div class="card-content">
          <a href="#">
            <p class="card-category">Baby Toys<i class="fas fa-chevron-right fa-sm"></i></p>
          </a>
        </div>
      </div>
      <div class="card">
        <img src="https://www.toycart.com/media/billboard/image/c/h/chess-banner.jpg" >
        <div class="card-content">
          <a href="#">
            <p class="card-category">Building Blocks<i class="fas fa-chevron-right fa-sm"></i></p>
          </a>
        </div>
      </div>
      <div class="card">
        <img src="https://www.toycart.com/media/billboard/image/s/4/s4.jpg" >
        <div class="card-content">
          <a href="#">
            <p class="card-category">Art & Craft<i class="fas fa-chevron-right fa-sm"></i></p>
          </a>
        </div>
      </div>

      <!-- <div class="card">
        <img src="https://www.toycart.com/media/billboard/image/s/5/s5.jpg" >
        <div class="card-content">
          <a href="#">
            <p class="card-category">Toys Collection<i class="fas fa-chevron-right fa-sm"></i></p>
          </a>
        </div>
      </div> -->

      
    </div>
  
    </div>
    </div>
<!-- end card -->



<!-- banner start -->
  <!--  <div class="container-fluid d-none d-md-block d-lg-block d-xl-block mt-5">
    <div class="col-md-12">
            <div class="section-title">
              <h3 class="title2" >Preschool Products</h3>
            </div>
          </div>
       

            <div class="row" >
              <div class="col-md-12 col-sm-12" >
                <img src="https://cdn.shopify.com/s/files/1/0088/7986/5907/files/pre_school2_9e54ba9b-7dbd-4b50-80b1-d2d95f3af8ba_1350x624.jpg"  height="350px">
              </div>
            </div>
   </div>   -->    
<!-- banner end -->

  <!-- End Trending product view changes by Aman Verma 20/08/2020 -->
   <div class="container-fluid d-none d-md-block d-lg-block d-xl-block " *ngIf="ninetoysbannerdata">
         <div class="col-md-12">
            <div class="section-title">
              <h3 class="title2" >Preschool Products</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mt-2 banner-image-box-card pl-2" *ngIf="ninetoysbannerdata[0] != null">
              <img src="{{ninetoysbannerdata[0].image_link}}" class="w-100 img-fluid img-banner"  onerror="this.src='assets/img/favicon1.png';">
            </div>
            <div class="col-md-6 mt-2 banner-image-box-card pr-2" *ngIf="ninetoysbannerdata[1] != null">
                <img src="{{ninetoysbannerdata[1].image_link}}" class="w-100 img-fluid img-banner"  onerror="this.src='assets/img/favicon1.png';">
            </div>
          </div>
        </div>
        




<!-- trending product start -->
<div class="container-fluid d-none d-md-block d-lg-block d-xl-block mt-5">
              <div class="col-md-12">
                <div class="section-title">
                  <h3 class="title2" >Trending Products</h3>
                </div>
              </div>
 
              
              <div class="pagination  row">
                <div class="col-md-6">
                <li class="page-item  " *ngIf="offsetRent != 1">
                  <a matTooltip="Previous "
                    class="page-link page-previous"
                    (click)="changeOffsetRent(offsetRent - 1)"
                    aria-label="Previous"
                  >
                    <span aria-hidden="true" class=" font-weight-bold cursor-pointer"><i class="fas fa-angle-left"></i></span>
                  </a>
                </li>
              </div>
              <div class="col-md-6 text-right ">
                <li class="page-item float-right mr-4" *ngIf="offsetRent != pagesRent">
                  <a  matTooltip="Next"
                    class="page-link page-next"
                    (click)="changeOffsetRent(offsetRent + 1)"
                    aria-label="Next"
                  >
                    <span aria-hidden="true" class=" font-weight-bold cursor-pointer"> <i class="fas fa-angle-right"></i></span>
                  </a>
                </li>
              </div>
               
              <!-- </div> -->
            </div>
          


  <div class="row justify-content-start mt-0">
    
      <div class="col-md-2 col-sm-6" *ngFor="let nprd2 of topSelling">
          <div class="product-grid7">
              <div class="product-image7" id="box-img1" >
                  <a >
                    <img  src="{{ nprd2.gallery.medium_thumbnail_link }}" 
          (click)="view_product(nprd2.meta_title, nprd2.product_no,nprd2.slug,nprd2.quick_product_check)" alt="Product Image" id="img1" class="card-img-top"  style="cursor:pointer;">
                  </a>
                  <ul class="social">
                      <li><a  class="fa fa-heart"></a></li>
                      <li><a  style="cursor:pointer" *ngIf="nprd2.wishlist_check == false"
                        style="cursor:pointer"
                    
                    
                        ><i class="far fa-heart text-secondary"></i
                      ></a>
                      <a
                        style="cursor:pointer" *ngIf="nprd2.wishlist_check == true"
                      
                      
                        > <i class="far fa-heart text-danger"></i></a>
      
                        <a  style="cursor:pointer" *ngIf="userC == true"
                        style="cursor:pointer"
                   
                      
                        ><i class="far fa-heart text-secondary"></i
                      ></a></li>
                      <li><a  class="fa fa-shopping-cart" *ngIf="nprd2.txn_quantity>=1"></a>
                        <a  class="fa fa-shopping-cart" style="display: none;" *ngIf="nprd2.txn_quantity<1"></a>
                      </li>
                  </ul>
                <!--   <span class="product-new-label">New</span> -->
              </div>
              
              <div class="product-content">
                  <h3 class="title"><a href="#">{{ (nprd2.name.length>60)? (nprd2.name | slice:0:35)+'...':(nprd2.name) }}</a></h3>
                  <ul class="rating justify-content-center text-center pb-1 start-mobile"  *ngIf="rating_option==true"  >
                    <span
                    class="fa fa-star checked"
                    *ngFor="let i of createRange2(nprd2.ratings)"
                  ></span>
                  <span *ngIf="nprd2.ratings>'0'"><span
                    class="fa fa-star unchecked"
                    *ngFor="let i of createRange2(5 - nprd2.ratings)"
                  ></span>
                </span>
                  </ul>
                  <div  class="price" style="text-decoration: none;">
                    <span *ngIf="nprd2.rate[0].is_rent == '1'" 
                    >{{ nprd2.rate[0].name }} @ {{ nprd2.rate[0].rate }}
                  </span>
                  <span *ngIf="nprd2.rate[0].is_rent != '2'" style="text-decoration: none;"
                    >₹ {{ nprd2.rate[0].rate}}
                  </span> &nbsp;
                  <span class="for-you text-muted" *ngIf="nprd2.rate[0].rate < nprd2.mrp"
                    ><del>₹ {{ nprd2.mrp  }} </del></span
                  >
                  <span *ngIf="nprd2.rate[0].is_rent == '2'"  style="text-decoration: none;"
                    >{{ nprd2.rate[1].name }} @ {{ nprd2.rate[1].rate }} </span
                  >&nbsp;
                  <span
                    *ngIf="nprd2.rate[0].rate < nprd2.mrp" style="text-decoration: none;"
                    class="font-wieght-bold text-center for-you text-success"
                    >{{ nprd2.rate[0].discount_percent | number:'1.0-0' }}% Off</span
                  >
                  </div>
                
              </div>
          </div>

         


      </div>
      
      
       </div>
     




<hr>
</div>
<!-- trending product end -->

     

   <!-- section title -->
   <div class="container-fluid d-none d-md-block d-lg-block d-xl-block mt-5">
   <div class="col-md-12">
        <div class="section-title">
          <h3 class="title2" >New Products</h3>
        </div>
  </div>
  <!-- /section title -->
  
  <div class="pagination  row">
    <div class="col-md-6">
    <li class="page-item  " *ngIf="offsetRent != 1">
      <a matTooltip="Previous "
        class="page-link page-previous"
        (click)="changeOffsetRent(offsetRent - 1)"
        aria-label="Previous"
      >
        <span aria-hidden="true" class=" font-weight-bold cursor-pointer"><i class="fas fa-angle-left"></i></span>
      </a>
    </li>
  </div>
  <div class="col-md-6 text-right ">
    <li class="page-item float-right mr-4" *ngIf="offsetRent != pagesRent">
      <a  matTooltip="Next"
        class="page-link page-next"
        (click)="changeOffsetRent(offsetRent + 1)"
        aria-label="Next"
      >
        <span aria-hidden="true" class=" font-weight-bold cursor-pointer"> <i class="fas fa-angle-right"></i></span>
      </a>
    </li>
  </div>
   
  <!-- </div> -->
</div>
  <!-- <div class="container" > -->
        <div class="row " >
            <div class="col-md-2 col-sm-6" *ngFor="let nprd of newproduct">
                          <div class="product-grid7">
                              <div class="product-image7" id="box-img1">
                              <a  > 
                                    <img src="{{nprd.gallery?.medium_thumbnail_link}}"
                            (click)="view_product(nprd.meta_title, nprd.product_no,nprd.slug,nprd.quick_product_check)" alt="Product Image" id="img1"    class="card-img-top"  style="cursor:pointer;">
                              </a>                 
                                  <ul class="social">
                                      <li><a href="" class="fa fa-heart"></a></li>
                                      <li>
                                        <a  style="cursor:pointer" *ngIf="nprd.wishlist_check == false"
                                        style="cursor:pointer"
                                    
                                        style="cursor:pointer"
                                        (click)="addToWishlist(nprd)"
                                    
                                        ><i class="far fa-heart text-secondary"></i
                                      ></a>
                                      <a
                                        style="cursor:pointer" *ngIf="nprd.wishlist_check == true"
                                      
                                        style="cursor:pointer"
                                        (click)="addToWishlist(nprd)"
                                      
                                        > <i class="far fa-heart text-danger"></i></a>
                      
                                        <a  style="cursor:pointer" *ngIf="userC == true"
                                        style="cursor:pointer"
                                        (click)="addToWishlist(nprd)"
                                      
                                        ><i class="far fa-heart text-secondary"></i
                                      ></a>
                                      </li>
                                      <li><a href="" class="fa fa-shopping-cart" *ngIf="nprd.txn_quantity>=1"
                                
                                        (click)="addToCart(nprd)"
                                        matTooltip="Add to Cart"        ></a>
                                      <a href="" class="fa fa-shopping-cart text-danger" *ngIf="nprd.txn_quantity<1"></a>
                                      </li>
                                  </ul>
                               <!--    <span class="product-new-label">New</span> -->
                              </div>
                              <div class="product-content">
                                  <h3 class="title"><a >{{ (nprd.name.length>60)? (nprd.name | slice:0:35)+'...':(nprd.name) }}</a></h3>
                                  <ul class="rating">
                                    <span
                                    class="fa fa-star checked"
                                    *ngFor="let i of createRange2(nprd.ratings)"
                                  ></span>
                                  <span *ngIf="nprd.ratings>'0'"><span
                                    class="fa fa-star unchecked"
                                    *ngFor="let i of createRange2(5 - nprd.ratings)"
                                  ></span>
                                </span>
                                  </ul>
                                  <div class="price" style="text-decoration: none;">
                                    <span *ngIf="nprd.rate[0].is_rent == '1'" 
                    >{{ nprd.rate[0].name }} @ {{ nprd.rate[0].rate }}
                  </span>
                  <span *ngIf="nprd.rate[0].is_rent != '2'"  style="text-decoration: none;"
                    >₹ {{ nprd.rate[0].rate}}
                  </span> &nbsp;
                  <span class="for-you text-muted" *ngIf="nprd.rate[0].rate < nprd.mrp"
                    ><del>₹ {{ nprd.mrp  }} </del></span
                  >
                  <span *ngIf="nprd.rate[0].is_rent == '2'" 
                    >{{ nprd.rate[1].name }} @ {{ nprd.rate[1].rate }} </span
                  >&nbsp;
                  <span style="text-decoration: none;"
                    *ngIf="nprd.rate[0].rate < nprd.mrp"
                    class="font-wieght-bold text-center for-you text-success"
                    >{{ nprd.rate[0].discount_percent | number:'1.0-0' }}% Off</span
                  >
                                  </div>
                              </div>
                          </div>
            </div>
        </div>   


<!-- </div>      -->
<!-- </div> -->
<hr>
</div>
<!--  end juned 1/12/2020 -->


  <div class="container-fluid d-none d-md-block d-lg-block d-xl-block" *ngIf="ninetoysbannerdata">
        <div class="col-md-12">
  <div class="section-title">
    <h3 class="title2" >Games Corner</h3>
  </div>
</div>
          <div class="row">
            <div class="col-md-6 mt-3 banner-image-box-card pl-2" *ngIf="ninetoysbannerdata[2] != null">
                <img src="{{ninetoysbannerdata[2].image_link}}" class="w-100 img-fluid img-banner"  onerror="this.src='assets/img/favicon1.png';">
            </div>
            <div class="col-md-6 mt-3 banner-image-box-card pr-2" *ngIf="ninetoysbannerdata[3] != null">
                <img src="{{ninetoysbannerdata[3].image_link}}" class="w-100 img-fluid img-banner"  onerror="this.src='assets/img/favicon1.png';">
            </div>
            <div class="col-md-6 mt-3 banner-image-box-card pl-2" *ngIf="ninetoysbannerdata[4] != null">
                <img src="{{ninetoysbannerdata[4].image_link}}" class="w-100 img-fluid img-banner"  onerror="this.src='assets/img/favicon1.png';">
            </div>
            <div class="col-md-6 mt-3 pr-2 banner-image-box-card" *ngIf="ninetoysbannerdata[5] != null">
                <img src="{{ninetoysbannerdata[5].image_link}}" class="w-100 img-fluid img-banner"  onerror="this.src='assets/img/favicon1.png';">
            </div>
          </div>
        </div>

<!-- banner data  2/12/2020-->













<!-- end -->
    <button *ngIf="isShow"  (click)="gotoTop()">👆</button>  
<!-- /SECTION -->
<!-- <div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-14">
        <h4 class="heading">Shop By Category</h4>
        <p class="section-heading-subtitle light-copy">Made with quality and care, our toys inspire a world of discovery and hands-on learning.</p>
        <div class="row justify-content-center ">
          <div class="col-md-2" style="margin-top: 10px;" *ngFor="let category of categories"  >
            
        <img src="../../assets/img/9toyslogo.jpeg" style="border-radius: 50px;width: 100px;height: 100px;z-index: 1;box-sizing: border-box;
        margin: 0 auto 15px;    "   alt="">
        <a title="{{ category.name }}"
        (click)=" 
        navigateCategory(category.name, category.category_no)
      "
    class="category-title"    ><br><span class="title1">&nbsp;{{category.name}}</span></a>
        
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- HOT DEAL SECTION -->
<!--<div id="hot-deal" class="section">
  container 
  <div class="container">
     row 
    <div class="row">
      <div class="col-md-12">
        <div class="hot-deal">
          <ul class="hot-deal-countdown">
            <li>
              <div>
                <h3>02</h3>
                <span>Days</span>
              </div>
            </li>
            <li>
              <div>
                <h3>10</h3>
                <span>Hours</span>
              </div>
            </li>
            <li>
              <div>
                <h3>34</h3>
                <span>Mins</span>
              </div>
            </li>
            <li>
              <div>
                <h3>60</h3>
                <span>Secs</span>
              </div>
            </li>
          </ul>
          <h2 class="text-uppercase">hot deal this week</h2>
          <p>New Collection Up to 50% OFF</p>
          <a class="primary-btn cta-btn" href="#">Shop now</a>
        </div>      </div>
    </div>
    
  </div>
</div>

-->

