<mg-new-header></mg-new-header>



<div class="card" style="margin: 9% auto"  *ngIf="signup == 1">
  <h1 class="cardTitle">Login</h1>
   <form [formGroup]="loginuser">
  <div class="formCon">
    <input type="text" class="form" placeholder="Enter Email or Mobile" autocomplete="off" (keyup)="checkUserExist()"  id="email" type="text" formControlName="username"   required/>
    <input type="password" class="form" placeholder="Password" id="password" type="password" *ngIf="pass  == 1" name="password" formControlName="password" required/>
    <p class="alert text-right cursor-pointer mt-0" *ngIf="pass == 1" ><a data-toggle="modal" data-target="#myModal">Forgot password?</a></p>
    <button type="submit" class="loginBtn" *ngIf="pass == 1" (click)="login()"
    [disabled]="!loading">LOGIN</button> 
    <button type="submit" class="loginBtn" 
      *ngIf="pass==1 && referral_ask==true"  (click)="openXl(codOtp)">LOGIN WITH OTP</button>
      <button type="submit" class="loginBtn" *ngIf="pass == 2" (click)= "onSubmitSign()"
      [disabled]="!loading">GET OTP</button>
      
    <button type="submit" class="loginBtndiable"  *ngIf="pass == 0" 
    [disabled]="!loading">LOGIN</button>
    <!-- <p>Don't have an account?<span  ><a  (click)="onSubmitSign()" class="cursor-pointer text-primary"> click here!</a></span></p> -->
  </div>
</form>
</div>




<div class="card" style="margin: 9% auto"  *ngIf="signup == 2">
  <h1 class="cardTitle">Sign Up</h1>
   <form [formGroup]="otpForm">
  <div class="formCon">
    <input type="text" class="form" placeholder="Enter OTP" autocomplete="off"   id="email" type="text" formControlName="otp"   required/>
    <input type="password" class="form" placeholder="Enter New Password" id="password" type="password"  name="password" formControlName="password" required/>
    <input type="password" class="form" placeholder="Confirm Password" id="password" type="password"   formControlName="confirmPassword" required/>
    <!-- <p class="alert text-right cursor-pointer mt-0"><a data-toggle="modal" data-target="#myModal">Forgot password?</a></p> -->
    <button type="submit" class="loginBtn" (click)= "onSubmitOTP()"
    [disabled]="!loading">VERIFY</button> &nbsp;
    <button type="submit" class="loginBtn" 
    (click)= "onSubmitResendOtp()" >RESEND OTP</button>
  
    <!-- <p>Don't have an account?<span  ><a  (click)="onSubmitSign()" class="cursor-pointer text-primary"> click here!</a></span></p> -->
  </div>
</form>
</div>




<!-- Forgot Password -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title  ">Forgot Password</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form [formGroup]="forgotForm">
            <div class="form-group">
              <div class="row justify-content-center">
                <div class="col-md-10">
                   <div class="input-group mb-1 mt-3 ml-auto mr-auto justify-content-center text-center">
                              <input type="text"  class="form w-100" formControlName="username"  placeholder="Please Enter Email/Mobile" >
                          </div>
                </div>
              </div>
              <div class="row justify-content-center mt-3 mb-3">
                <button type="button" (click)="forgotPassword();" class="loginBtn"  data-dismiss="modal" [disabled]="!loading">Send</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #codOtp let-modal>
  <div class="modal-header p-3 justify-content-center">
    <h3 class="modal-title font-weight-600" style="color: #ffca09;" id="modal-basic-title" align="center" *ngIf="verify==false || shownamebox">
      Enter mobile number or email
    </h3>
    <h3 class="modal-title font-weight-600" style="color: #ffca09;" id="modal-basic-title" align="center" *ngIf="verify==true">
      Veirfy mobile number or email 
    </h3>

    <!-- <mat-icon
      title="close modal"
      class="cursor-pointer text-danger"
      (click)="modal.dismiss('Cross click')"
      >close</mat-icon
    > -->
  </div>
  <!-- modal body starts -->
  <div class="modal-body ">
    <div class="container-fluid">
      <form [formGroup]="otpFormLogin">
     
              <div class="row mt-2 justify-content-center">
                <div class=" col-lg-8"> 
             
                  <mat-form-field  class="example-full-width " *ngIf="verify==false || shownamebox">
                    <input
                      matInput 
                    class="pl-3"
                      formControlName="username"
                      required
                    />
                    <mat-icon matPrefix class="text-primary">perm_phone_msg</mat-icon>
                  </mat-form-field>
                 
              
                     <div class="row justify-content-center">
                 
             
                    <div  class="col-sm-8 text-center">
                      <h4> <span class="checkout-register-otp font-weight-500" *ngIf="verify==true">{{otpFormLogin.controls.username.value}}</span>   <span matTooltip="edit " (click)="edit()" *ngIf="verify==true && !shownamebox" class="text-primary">(change)</span><span *ngIf="shownamebox" (click)="cancel()" class="text-danger">(cancel)</span> </h4>
                    </div>
                    <p class="font-weight-500" *ngIf="verify==true" style="color: #ffca09; font-size: 16px;">A text with a code has been sent to the number or email above.</p>
                    <!-- <div *ngIf="verify==true && !shownamebox" class="col-sm-2">
                      <h6 class=" text-primary text-right cursor-pointer"><span matTooltip="edit " (click)="edit()" *ngIf="!shownamebox">Edit</span><span *ngIf="shownamebox" (click)="cancel()">cancel</span></h6>
                  </div> -->
                  </div>
                  <!-- </div> -->
                </div>
              </div>
              <div class="row justify-content-center mt-4" *ngIf="verify == true">
                <div class="col-lg-6 text-center">
                  <mat-form-field  class="example-full-width" >
                    <input
                      matInput type="number"
                      placeholder="Enter OTP"
                      formControlName="otp"
                      required
                    />
                    <!-- <mat-icon matPrifix class="text-primary">vpn_key</mat-icon> -->
                  </mat-form-field>
                 
                </div>
              </div>
        
          <div
            class="row mt-2 mb-3 justify-content-center"
          >
          
          <button *ngIf="verify == true"
          class="loginBtnfor"
          mat-raised-button
          matTooltip="Verify OTP"
          (click)="otpVerificationUser(); modal.close('Save click')" [disabled]="!loading"
        >
          Verify
        </button>
        &nbsp; &nbsp;
         
            <button *ngIf="otpgeneration == true " [disabled]="!loading"
            class="loginBtnfor"
            mat-raised-button
            matTooltip="Resend OTP"
            (click)="resendOtpVerify()"
          >
            Resend OTP
          </button> 
            &nbsp; &nbsp;
            <button  *ngIf="verify == false && otpgeneration == false"
            class="loginBtnfor"
            mat-raised-button
            matTooltip="cancel"
            (click)="modal.dismiss('Cross click')" [disabled]="!loading"
          >
            Cancel
          </button>
          &nbsp;&nbsp;
            <button  *ngIf="verify == false"
            class="loginBtnfor"
            mat-raised-button
            matTooltip="Send OTP"
            (click)="otpGenerate()" 
          >
            Send OTP
          </button>
        
          </div>
        
         
        <!-- </div> -->
      </form>
    </div>
  </div>
</ng-template>

