.mat-card{
    background: white;
    color: black;
}
.card{
    background: white;
    color:black;
}
.feferrer{
    font-size: 13px;
} 
mat-icon{
    color: #4E50B3!important;
}
.far{
color: #4E50B3!important;
}